@font-face {
    font-family: 'metal macabre';
    src: url('https://cdn.rawgit.com/caffeinatedan/static/blob/master/metal-macabre/MetalMacabre.ttf');
 format('truetype'),
             font-weight: 100;
    font-style: normal;
} 
