@font-face {
    font-family: 'toyotadisplay';
    src: url('https://cdn.rawgit.com/caffeinatedan/static/blob/master/metal-macabre/display_rg-webfont.woff');
             font-weight: 100;
    font-style: normal;
} 
